<!--サイドバー部分-->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
                     <%= link_to("アカウント", "/users/#{current_user.id}", {class: "sidebar-account"}) %>
                     <%= link_to("プロフィール", "/profiles/#{current_user.id}/edit", {class: "sidebar-profile"}) %>
                
                <hr>
            </div>
        </div>
     
 
<!--メイン部分-->
        <div class="profile-content-edit">
          
            <div class="profile-edit">
                <h1>プロフィールページ</h1>
                  <%= form_for @user do |f| %>

                    <div class="field">
                    　 <% if current_user.image.attached?%>
                           <%= image_tag @user.image,class:'profile-user-image' %>
                       <% else %>
                           <% image_tag 'no-image.user.png',class:'profile-user-image' %>
                       <% end %>   
                      <br>
                      <%= f.file_field :image %>
                    </div>

                  　<div class="field">　
                      <%= f.label :名前 ,class:'field-text'%><br />
                      <%= f.text_field :name, autofocus: true, autocomplete: "名前",class:'field-box' %>
                    </div>

                    <div class="field">
                      <%= f.label :自己紹介 ,class:'field-text'%><br />
                      <%= f.text_area :profile, autofocus: true, autocomplete: "自己紹介を入力" ,class:'field-box'%>
                    </div>


                    <div class="actions">
                      <%= f.submit "更新" %>
                    </div>

                  <% end %>


            </div>
        
    </div>
</div>
