<div>
    <%= link_to "アカウント", "/users/#{current_user.id}" %>
    <div>
        <%= link_to "プロフィール", "/profiles/#{current_user.id}/edit" %>
    </div>
</div>

 <h1>アカウント設定のページ</h1>



 <table>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= @user.encrypted_password %></td>
      </tr>
      
    </table>
 
    <div>
      
     
        <%= link_to "編集", [:edit, @user], class: "button is-warning is-light" %>   
      
    </div>


   
