<<<<<<< HEAD
<h1>検索ページnew</h1>
=======
<h1>検索ページ</h1>
    
>>>>>>> b424b129f7f11f72454b484b163779c01b8774a5

<%= form_for @search, html: {class:"pure-form"} do |s| %>

  <div class="field">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
  </div>

  

  
  <div class="actions"><%= s.submit "検索"%></div>
<% end %>

<p><%= link_to "戻る",rooms_path %></p>