<!--使ってない-->
<h1>検索ページgitgi</h1>

<p><%= link_to "戻る",new_search_path %></p>

<% if @search.search_rooms.empty?%>

  <p>何もないよ</p>

<% else %>

  <% @search.search_rooms.each do |c| %>
    <br>

    <div class="search_box">
     
    
      <h1><%= c.room_name %></h1>
      <p>料金<%= c.room_price %></p>
      <p>住所:<%= c.room_address %></p>
      <p>ルーム情報:<%= c.room_PR %></p>
    </div>
  <% end %>
<% end %>