<h1>ルーム情報登録</h1>


<%= form_for @room do |f| %>
<%= f.label :ルームイメージ %>
<%= f.file_field :room_image %>

<%= f.label :ルーム名 %>
<%= f.text_field :room_name %>

<%= f.label :ルーム紹介 %>
<%= f.text_area :room_PR%>

<%= f.label :料金 %>
<%= f.text_field :room_price %>

<%= f.label :住所 %>
<%= f.text_field :room_address %>

<%= f.submit  "登録" %>
<% end %>