<h1>ルーム情報登録</h1>


<%= form_for @room do |f| %>
<div class="new_box">
    <table>
        <tr>
            <th><%= f.label :ルームイメージ %></th>
            <td><%= f.file_field :image %></td>
        </tr>

        <tr>
            <th><%= f.label :ルーム名 %></th>
            <td><%= f.text_field :room_name %></td>

        <tr>
            <th><%= f.label :ルーム紹介 %></th>
            <td><%= f.text_area :room_PR%></td>

        <tr>
            <th><%= f.label :料金 %></th>
            <td><%= f.text_field :room_price %></td>

        <tr>
            <th><%= f.label :住所 %></th>
            <td><%= f.text_field :room_address %></td>
        </table>
             <%= f.submit  "登録" %>
    </div>
<% end %>