<div class="content">
  <h1>予約済みルーム一覧</h1>

  <div class="rooms-index-list">
    <table>
          <thead>
            <tr>
        　　　<th>ルーム画像</th>
        　　　<th>ルーム名</th>
        　　　<th>ルーム紹介</th>
        　　　<th>合計金額</th>
        　　　<th>開始日</th>
             <th>終了日</th>
             <th>予約確定日</th>
          </tr>
        </thead>
          <tbody>
            <% @reserve.each do |reserve| %>
              　<tr>

                <td><%= image_tag reserve.room.image %></td>
                <td><%= link_to room_path(reserve.room) do%>
                  　　<%= reserve.room.room_name %>
                    <% end %></td>

                <td> <%= reserve.room.room_PR %></td>
                <td> <%=  reserve.total_price %></td><!--不明-->
                <td> <%= reserve.start_date.strftime('%Y年%m月%d日')  %></td>
                <td> <%= reserve.end_date.strftime('%Y年%m月%d日')  %></td>
                <td> <%= reserve.created_at.strftime('%Y年%m月%d日')  %></td>


               
                
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>