<h1>検索結果</h1>

<div class="content">
  <div class="card-wrap">
   
        <table>
            <tbody>
              <% @results.each do |room| %>
               <%= link_to room_path(room) do %>
                <div class="card-list">
                  <p><%= image_tag room.image ,class:'search-image'%></p>
                    <h1 class="card-listImage"><%= room.room_name %></h1>
                    <h2 class="card-listImage"><%= room.room_price %>円</h2>
                    <h4 class="card-listPR"><%= room.room_PR %></h4>
                </div>
                <% end %>
              <% end %>
            </tbody>
        </table>

        <%= link_to 'Top', rooms_path %>
    
  </div>
</div>

