<!DOCTYPE html>
<html>
  <head>
    <title>宿泊サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>
     <div class="flash-box">
              <% if flash[:notice] %>
                <div class="notification is-info">
                  <p class="notice"><%= notice %></p>
                </div>
              <% end %>

              <% if flash[:alert] %>
                <div class="notification is-danger">
                  <p class="alert"><%= alert %></p>
                </div>
              <% end %>
     </div>
     
      <header>
        <%= render "shared/partial" %><!--sharedに実装-->
      </header>
      <main>
         <%= yield %>
      </main>
   <!--<footer>-->
      <footer>
        <%= render "shared/partial2" %><!--sharedに実装-->
      </footer>
   <!-- </footer>-->
    
  </body>
      

</html>
