<!DOCTYPE html>
<html>
  <head>
    <title>宿泊サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <% if flash[:notice] %>
          <div class="notification is-info">
            <p class="notice"><%= notice %></p>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="notification is-danger">
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>

        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4" style="font-family: cursive;">jaran</h1>
        <% end %>

        <% if user_signed_in?%>

         <%= current_user.name %>

              <%= current_user.id %>

              <%= current_user.email %>

        
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
              <%= link_to "ルームを登録する", "/rooms/new" %>
              <%= link_to "登録済みルーム", users_path(current_user)  %>
              <%= link_to "予約済みルーム", "/rooms/reserve" %>
              <%= link_to "設定", user_path(current_user) %>
            <% if user_signed_in? %>
              
            <% end %>
          
          
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>   
          <%= link_to "新規登録", new_user_registration_path,  class: "button is-warning is-light" %>
        <% end %>

         <div class="header-right">
           
              
              
              
         </div>
      </header>
    <%= yield %>
  </body>
      

</html>
